@import "compass/css3";

$font-stack:    'Droid Serif', serif;
$primary-color: #333;
$highlight-color: #FFCA2B;

body {
    background: #fafafa;
    font: 100% $font-stack;
    color: $primary-color;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 960px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    
    h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.mixin-demo {
  padding: 10px 50px;
  margin: 10px auto;
}


.code {
  border: 4px solid rgb(214, 209, 209);
  padding: 10px 50px;
  margin: 10px;
  border-radius: 10px;
  transition: all 0.8s ease-in-out;
  &:hover {
    background: #312e2e;
    color: white;
    border: 4px solid gray;
    text-shadow: 0 1px 2px rgb(49, 46, 46);
  }
}

.peace-out {
  margin: 50px auto;
  text-align: center;
}

// Begin Mixin's
// Mixin 1
@mixin button-go ($width, $height, $background){
  text-align: center;
  border: 1px solid rgb(195, 143, 38);
  width: $width;
  height: $height;
  position: relative;
  color: white;
  margin: 20px auto;
  font-size: $height * .6;
  line-height: $height;
  letter-spacing: 1px;
  border-radius: 6px;
  padding: $height *.3;
  text-shadow: 0 1px 1px darken($background, 30%);
  box-shadow: inset 0 1px 1px #fff,
                    0 1px 3px gray;
  background: $background; /* Old browsers */
  @include background-image(linear-gradient(lighten($background, 10%), darken($background, 10%))); 

  &:hover {
    border: 1px solid rgb(195, 143, 38);
    text-shadow: 0 1px 1px darken($background, 30%);
    box-shadow: inset 0px 1px 1px #fff,
                      0 1px 3px gray;
    background: $background; /* Old browsers */
  @include background-image(linear-gradient(darken($background, 10%), lighten($background, 10%))); 
  }

  &:active {
    border: 1px solid rgb(195, 143, 38);
    font-size: $height * .6 - 1px;
    text-shadow: 0 1px 1px darken($background, 30%);
    box-shadow: inset 0px 1px 1px #7B7474;
    background: $background; /* Old browsers */
  @include background-image(linear-gradient(darken($background, 10%), lighten($background, 10%))); 
  }
}

// Begin Mixin 2
@mixin avatar($image) {
  background: $image; 
  width: 220px;
  margin: 20px;
  height: 220px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 16px rgb(62, 123, 163),
                    0px 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}

.avatar-item {

    &:hover .avatar-info {
    text-transform: scale (1);
    opacity: 1;
    }
    
      

      &:hover {
      box-shadow: inset 0 0 0 1px rgb(38, 78, 165),
                      0 1px 2px black;
      }

      h3 {
        color: white;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        font-size: 23px;
        margin: 45px 0px 0px 0px;
        height: 45px;
        text-shadow: 0px 0px 1px white,
                     0px 1px 2px rgba(0, 0, 0, 0.3);
      }
    }


  .avatar-info {
  position: absolute;
  background: rgba(63,147,147, 0.8);
  width: inherit;
  height: inherit;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  text-transform: scale(0);

    p {
      color: #fff;
      padding: 10px 5px;
      font-style: italic;
      margin: 0 30px;
      font-size: 14px;
      line-height: 18px;
      border-top: 1px solid white;
      text-align: center;
      opacity: 0;
      transition: all 1s ease-in-out 0.4s;
      }

  &:hover {
    box-shadow: inset 0 0 0 1px blue,
                      0 1px 2px black;
    p {
      opacity: 1;
      }
    
  }

}

// End Mixin 2
// Begin Mixin 3
@mixin container-sq ($width, $back-color) {
  width: $width;
  margin: 20px auto;
  height: $width;
  font-size: $width * .4;
  text-align: center;
  line-height: $width;
  color: lighten($back-color, 35%);
  background: lighten($back-color, 10%);
  border: 5px solid darken($back-color, 10%);
  text-shadow: 2px 2px 5px black;
  -webkit-transition: 1.0s ease-in-out;


  &:hover {
    background: darken($back-color, 40%);
    text-shadow: 0px 2px 10px lighten($back-color, 10%);
  }
}

// End Mixin 3
// End Mixins
// Begin Styling 

// Begin Mixin 1 Styling
.cta-button-go {
  @include button-go (400px, 50px, green);
}

.cta-button-slow {
  @include button-go (400px, 50px, yellow);
}

.cta-button-stop {
  @include button-go (400px, 50px, red);
}

// Begin styling 2
.circle-avatar-damascus {
  @include avatar(url(/images/sillyface.jpg) no-repeat center center)
}

.circle-avatar-annie {
  @include avatar(url(/images/annie.jpg) no-repeat center center)
}

.circle-avatar-rylee {
  @include avatar(url(/images/rylee.jpg) no-repeat center center)
}

// Begin styling 3

.square-container-lg {
  @include container-sq (400px, green)
}

.square-container-md {
  @include container-sq (250px, blue)
}

.square-container-sm {
  @include container-sq (150px, yellow)
}
