@import "compass/css3";

$font-stack:    'Droid Serif', serif;
$primary-color: #333;
$highlight-color: #FFCA2B;

body {
    background: #fafafa;
    font: 100% $font-stack;
    color: $primary-color;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 960px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    
    h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.mixin-demo {
  padding: 10px 50px;
  margin: 10px auto;
}


.code {
  border: 4px solid red;
  padding: 10px 50px;
  margin: 10px;
}


// Example from Shane
@mixin dan ($color, $border, $width) {
  width: $width;
  height:200px;
  background-color: $color;
  border: $border;

}

.box-one {
  @include dan (green, 3px solid gray, 300px)
}

// End example from Shane

@mixin button-go ($width, $height, $background){
  text-align: center;
  border: 1px solid rgb(195, 143, 38);
  width: $width;
  height: $height;
  position: relative;
  color: white;
  margin: 20px auto;
  font-size: $height * .6;
  line-height: $height;
  letter-spacing: 1px;
  border-radius: 6px;
  padding: $height *.3;
  text-shadow: 0 1px 1px darken($background, 30%);
  box-shadow: inset 0 1px 1px #fff,
                    0 1px 3px gray;
  background: $background; /* Old browsers */
  @include background-image(linear-gradient(lighten($background, 10%), darken($background, 10%))); 

  &:hover {
    border: 1px solid rgb(195, 143, 38);
    text-shadow: 0 1px 1px darken($background, 30%);
    box-shadow: inset 0px 1px 1px #fff,
                      0 1px 3px gray;
    background: $background; /* Old browsers */
  @include background-image(linear-gradient(darken($background, 10%), lighten($background, 10%))); 
  }

  &:active {
    border: 1px solid rgb(195, 143, 38);
    font-size: $height * .6 - 1px;
    text-shadow: 0 1px 1px darken($background, 30%);
    box-shadow: inset 0px 1px 1px #7B7474;
    background: $background; /* Old browsers */
  @include background-image(linear-gradient(darken($background, 10%), lighten($background, 10%))); 
  }
}


.cta-button-go {
  @include button-go (400px, 50px, green);
}

.cta-button-slow {
  @include button-go (400px, 50px, yellow);
}

.cta-button-stop {
  @include button-go (400px, 50px, red);
}
